$brand-bg-color-item:#F6F7FF;	//单个类别背景颜色
$brand-theme-color:#5756B3;	//品牌主体蓝色

$text-font-color-1:#3B3B3B;	//文字主色
$text-font-color-2:#FFFFFF;	//页面主标题颜色
$text-font-color-3:#B3B3B3;	//（更多）小/副标题颜色
$text-font-color-4:#6060B7;	//分类选中颜色
$text-font-color-5:#50ADB5;	//分类未选中颜色
$text-font-color-5:#DE73BA;	//分类未选中‘全部’颜色

$score-font-color:#FFC70E;	//评分颜色
$trash-font-color:#AAAAAA;	//垃圾桶颜色

$user-font-color:#272727;	//用户界面文字颜色
